.hero {
    position: relative; /* Se establece la posición relativa para el contenedor, para lograr generar el apilamiento necesario para z-index. */
    background-image: url('https://images.unsplash.com/photo-1506748686214-e9df14d4d9d0?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwzNjUyOXwwfDF8c2VhcmNofDJ8fGhlcm98ZW58MHx8fHwxNjg5NTY1NzA3&ixlib=rb-4.0.3&q=80&w=1080');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    color: white;
    font-size: 2rem;
    text-align: center;
}
h1 {
    color: white;
    font-size: 4rem;
    text-align: center;
}

#zindex {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    top: 10px;
    z-index: 0;
}

#free {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 10px;
    z-index: 1;
    color: black;
}